img {
    max-width: 200px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    background: rgb(9,9,121);
    background: linear-gradient(6deg, rgba(9,9,121,1) 15%, rgba(4,195,180,1) 46%, rgba(0,212,255,1) 86%);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
h1 {
    color: white;
    font-size: 4em;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #008000;
}
#show {
    display: none;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.likes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}
.sticker {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}