body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
}
body header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 95%;
  justify-content: space-around;
}
body header #hideMe {
  display: none;
}
body main #imgReturn {
  display: none;
}
body main #img {
  display: inline;
}
body main .div {
  background-color: #98bf21;
  height: 100px;
  width: 100px;
}
